body {
    margin: 0;
    background-color: black;
  }
  
  #my-canvas {
    background-color: darkgray;
  }
  
  #start-btn, #restart-btn {
  /*
    background-color: green;
    color: white;
    padding: 20px;
    font-size: 20px;
    margin-top: 40px;
    border-radius: 10px; 
  */
/*
  font-size: 30px;
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 0.4em 7em 0.4em 7em;
  box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #0400ff,
              0 0 0.8rem #0400ff,
              0 0 2.8rem #0400ff,
              inset 0 0 1.3rem #0400ff;
  */
  font-size: 30px;
  background-color: black;
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 0.4em 7em 0.4em 7em;        


  }
/* https://www.w3schools.com/howto/howto_css_glowing_text.asp */
  .glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  /* https://css-tricks.com/how-to-create-neon-text-with-css/ */
  .neonText {
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #bc13fe,
      0 0 82px #bc13fe,
      0 0 92px #bc13fe,
      0 0 102px #bc13fe,
      0 0 151px #bc13fe;
  }
  
  @-webkit-keyframes glow {
    from {
      box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #e60073, 0 0 20px #e60073, 0 0 25px #e60073, 0 0 30px #e60073, 0 0 35px #e60073;
    }
    
    to {
      box-shadow: 0 0 10px #fff, 0 0 15px #ff4da6, 0 0 20px #ff4da6, 0 0 25px #ff4da6, 0 0 30px #ff4da6, 0 0 35px #ff4da6, 0 0 40px #ff4da6;
    }
  }
  
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px;
    color:white
  }
  #splash-screen{
    /*width:50%;*/
    
    align-self: center;
    flex-direction: column;
    width: 500px
    /*
    align-items: flex-end;*/
  }
  #controls{
    order:3;
    /*width:25%;*/
    flex-direction: column;
    align-items: flex-start;
    
    height: 200px;
    width:200px;
    /*
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;*/
    
  }
  
  #my-canvas, #gameover-screen{
    order: 2;
    display:none;
    
    width: 500px;
    flex-direction: column;
    /*flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;*/
  }
  #score-container{
    order: 0;
    flex-direction: column;
    align-items: flex-start;
    height: 200px;
    
    width: 200px;
  }
  